.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .headerTitle {
    font-size: 24pt;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(12, 127, 194);
    font-weight: bold;
    position: relative;
    height: 50px;
    margin-left: 40px;
  }
  .headerSubtitle {
    position: absolute;
    font-size: 12pt;
    bottom: -3px;
    right: 0;
    color: #444;
    font-weight: normal;
  }